<h2>To make a new account, please sign in below!</h2>

<% if alert %>
  <p class="alert-danger"><%= flash[:alert] %></p>
<% end %>

<%= form_tag sessions_path do %>
  <%= label_tag :email %><br>
  <%= text_field_tag :email, '', placeholder: "Login with your email", size: 20 %><br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password, '', placeholder: "(hidden)", size: 20 %><br>
  <br>
  <br>
  <%= submit_tag "Log In" %>
<% end %>
<br><br>

<%= link_to "Back to Home Page", home_show_path %>
