<h2> Welcome to your Donor Interface, <%= current_user.email %>!.  Currently, you have donated </h2>

<%= link_to "Your Donating Journey begins here!", new_category_path(@category) %>
<br>
<br>
<br> 
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout:fixed;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>
<h2>Your Recipient List</h2>
<p>To update or delete a recipient, just click on the their first name!</p>
<% current_user.recipients.each do |recipient| %>
<table style="width:100%">
  <tr>
    <th>First Name:</th>
    <td><%= link_to recipient.first_name, category_recipient_path(recipient.category, recipient) %></td>
  </tr>
  <tr>
    <th>Last Name:</th>
    <td><%= recipient.last_name %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= recipient.location %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= recipient.gender %></td>
  </tr>
  <tr>
    <th>Personal_notes</th>
    <td><%= recipient.personal_notes %></td>
  </tr>
  <tr>
    <th>Total Donation per Recipient</th>
    <td><%= recipient.category.toilet_paper || recipient.category.dental_hygiene || recipient.category.diapers || recipient.category.general_hygiene || recipient.category.first_aid || recipient.category.school_supplies || recipient.category.blankets || recipient.category.underwear_socks %> </td> 
  </tr>
  </table>
  <% end %>
</table>
</body>
</html>
<h2>Website Donation Tracker By Category!</h2>
	<table>
  <tr>
    <th>Toilet Paper</th>
    <th>Diapers</th>
    <th>Dental Hygiene</th>
    <th>First Aid</th>
    <th>General Hygiene</th>
    <th>Underwear and Socks</th>
    <th>Blankets</th>
    <th>School Supplies</th>
  </tr>
  <tr>
  	<td>$<%= @categories.toilet_paper_totals %></td>
  	<td>$<%= @categories.diaper_totals %></td>
  	<td>$<%= @categories.dental_hygiene_totals %></td>
  	<td>$<%= @categories.first_aid_totals %></td>
  	<td>$<%= @categories.general_hygiene_totals %></td>
  	<td>$<%= @categories.underwear_socks_totals %></td>
  	<td>$<%= @categories.blankets_totals %></td>
  	<td>$<%= @categories.school_supplies_totals %></td>
</table>
<br>
<br>
<h2>Website Donation Tracker!</h2>
<table>
<tr>
<td>
$<%= @categories.total_web_donations %></td>
</tr>
</table>
<br>
<br>
<br>
<br>















