<%= form_for(@recipient) do |f| %>

<div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :personal_notes %><br>
    <%= f.text_area :personal_notes, :cols => "10", :rows => "10", class: "form-control" %></div>

<div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
<br>
<br>
