<%= form_for([@category, @recipient]) do |f| %>

<% if @recipient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipient.errors.count, "error") %></h2>

    <ul>
    <% @recipient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
    <%= f.hidden_field :donor_id, class: "form-control" %></div>

<div class="form-group">    
    <%= f.hidden_field :category_id, class: "form-control" %></div>

<div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :personal_notes %><br>
    <%= f.text_area :personal_notes, :cols => "10", :rows => "10", class: "form-control" %></div>

    

<div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
<br>


