<h2>Here is a list of all active recipients</h2><br>
	<% @recipients.each do |recipient| %>
	<%= recipient.first_name %><br><br>
	<%= recipient.last_name %><br><br>
	<%= recipient.location %><br><br>
	<%= recipient.personal_notes %><br><br>
	<%= recipient.donor_id %><br><br>
	<%= link_to "To donate to #{recipient.first_name} please click here", recipient_path(recipient) %>
<% end %>
<br>
<br>
