<h2><%= "#{@recipient.first_name} Personal Info" %></h2>
<%= @recipient.first_name %><br><br>
<%= @recipient.last_name %><br><br>
<%= @recipient.location %><br><br>
<%= @recipient.personal_notes %><br><br>

<h2>Personal notes may give suggestions as to what the recipient is in need for.  Please be sure to read!</h2>

<%= render 'categories/form' %>
<br>
<br>











