<h2><%= "#{@recipient.first_name} Personal Info" %></h2>
<%= @recipient.first_name %><br><br>
<%= @recipient.last_name %><br><br>
<%= @recipient.location %><br><br>
<%= @recipient.personal_notes %><br><br>

<h2>Donation Categories</h2>
	


<%= render "categories/form", :category => @category %>









