<h2>List of all individual donations!</h2><br>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout:fixed;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
 
<% Category.all.each do |categories| %>
	<table style="width:100%">
  <tr>
    <th>Toilet Paper</th>
    <th>Diapers</th>
    <th>Dental Hygiene</th>
    <th>First Aid</th>
    <th>General Hygiene</th>
    <th>Underwear and Socks</th>
    <th>Blankets</th>
    <th>School Supplies</th>
  </tr>
  <tr>
  	<td>$ <%= categories.toilet_paper %></td>
  	<td>$ <%= categories.diapers %></td>
  	<td>$ <%= categories.dental_hygiene %></td>
  	<td>$ <%= categories.first_aid %></td>
  	<td>$ <%= categories.general_hygiene %></td>
  	<td>$ <%= categories.underwear_socks %></td>
  	<td>$ <%= categories.blankets %></td>
  	<td>$ <%= categories.school_supplies %></td>
</table>
<% end %>